[Unit]
Description=Alumet service Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/alumet-agent --output-file "/var/log/alumet-output.csv"
Restart=on-failure
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target