---
# This file is used to test the packaging workflows.
# This "Main pipeline" can be triggered manually.
name: Main pipeline
on:
  workflow_dispatch:
    inputs:
      version:
        description: Application version
        type: string
        required: false
        default: '0.0.0'
      revision:
        description: Package revision/release number
        required: false
        type: number
        default: 1

jobs:
  rpm:
    uses: ./.github/workflows/build_rpm.yaml
    with:
      arch: x86_64
      version: ${{ github.event.inputs.version }}
      release-version: ${{ github.event.inputs.revision }}

  deb:
    uses: ./.github/workflows/build_deb.yaml
    with:
      arch: amd64
      version: ${{ github.event.inputs.version }}
      revision: ${{ github.event.inputs.revision }}
